body {
	background-color: #fff;
	color: #777;
	font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

h1 {
	font-family: 'Crete Round', serif;
	font-weight: bold;
	color: #444;
	font-size: 45px;
	margin-bottom: 20px;
}

h2 {
	font-weight: 300;
	color: #444;
	font-size: 55px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-size: 30px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h4 {
	font-size: 24px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h5 {
	font-size: 15px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #02b8dd;
}

strong {
	font-weight: bold;
}

small {
	font-size: 13px;
	color: #777;
	font-style: italic;
}

.clear {
	clear: both;
}

.wrapper {
	margin: 0 auto;
	padding: 0 10px;
	width: 1028px;
}

#hero-image {
	height: 580px;
	padding-top: 1px;
	background: url('../images/bgmain.jpg') no-repeat center;
}

#bg-sheen{
	margin: -82px 130px;
	width:70%;
	height:400px;
	background: #11233b;
  	filter: alpha(opacity=84);
  	/* IE */
  	-moz-opacity: 0.6;
 	 /* Mozilla */
 	 opacity: 0.8;
 	 /* CSS3 */
 	 position: absolute;
 	 top: 0;
 	 left: 0;
	 
	 padding: 27px 5px;
	text-align: center;
	
	font-size: 25px;
	color: #fff;
	font-style: normal;

}



 
	

#features ul {
	margin: 150px 140px;
	
}

#features ul li {
	width: 220px;
	height: 225px;
	padding-top: 140px;
	float: left;
	margin-right: 10px;
	text-align: center;
	border: 0px #000 solid;
}

#features ul li.feature-1 {
	background: url('../images/mysaved_w.png') no-repeat top center;
}

#features ul li.feature-1:hover {
	background: url('../images/mysaved_y.png') no-repeat top center;       
}																				
																				
#features ul li.feature-2 {
	background: url('../images/startfrmscratch_w.png') no-repeat top center;
}
#features ul li.feature-2:hover {
	background: url('../images/startfrmscratch_y.png') no-repeat top center;
}
#features ul li.feature-3 {
	background: url('../images/predesigned_w.png') no-repeat top center;
}
#features ul li.feature-3:hover {
	background: url('../images/predesigned_y.png') no-repeat top center;
}



ul.share-menu{
 	@include opacity(0);
 	visibility: hidden;
 	display:block;
 	position: absolute;
 	left: 0;
 	height: 40px;
 	line-height: 40px;
 	background-color:$subMenuColor; 
 	li:hover{
 		@include border-bottom-radius($borderRadius);
 	}
 }